<h1>Hero</h1>
<p>A person who is admired for their courage, outstanding achievements, or noble qualities</p>
<p>A classical hero is considered to be a "warrior who lives and dies in the pursuit of honor" and asserts their greatness by "the brilliancy and efficiency with which they kill".</p>
<p><a href='/hero' >P.S. Check out my hero photo here.</a></p>